node_modules/  
.env  
dist/  
.env.local  
.env.development.local  
.env.test.local  
.env.production.local  
prisma/dev.db  
prisma/dev.db-journal  
frontend/build/  
backend/node_modules/  
frontend/node_modules/ 
